@import "variables";

.about {
    text-align: center;
    padding: 0 1em 3em 1em;
    color: white;

    > * {
        width: 90%;
        margin: auto;
    }

    img {
        display: inline-block;
        width: 80%;
        height: auto;
        max-width: 20em;
        border: 5px solid white;
        border-radius: 50%;
        margin-top: 0.5em;
    }

    h1 {
        margin: 0.5em auto;
    }

    h2 {
        margin-bottom: 2em;
    }

    p {
        max-width: 40em;
    }
}

.container--about {
    background-color: $primary-color;
    background-image: linear-gradient(180deg, $primary-color, rgba($secondary-color, .7)),
                    url('../images/background.jpg');
    background-size: cover;
    background-position: center center;
}
