@import "variables";

.blog {
    max-width: 50em;
    width: 90%;
    margin: auto;

    h1 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    a {
        text-decoration: none;
        color: $primary-color;

        &:hover {
            color: darken($primary-color, 10%);
        }
    }

    article {
        margin-bottom: 4em;

        h2 {
            margin-bottom: 0.5em;
        }

        p {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        time {
            color: gray;
        }


        * {
            margin-top: 1em;
        }
    }
}
