// Colors
$primary-color: #c678dd;
$secondary-color: #51afef;
$transparent-white: rgba(255, 255, 255, 0.7);

// Fonts
$sans: "Noto Sans", "Helvetica", "Arial", sans-serif;
$serif: "Roboto Slab", "Georgia", serif;
$mono: "Courier New", monospace;
