<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
 </head>
  <body>
    {% if page.path == "index.html" %}
      <div class="container container--about">
    {% else %}
      <div class="container">
    {% endif %}
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
</html>
